body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #0f2644;
  border-bottom: 1px solid #eeeeee;
}

.logo {
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav li {
  margin-left: 30px;
}

.navbar nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.content {
  color: black;
  padding: 20px;
}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Tengah secara horizontal */
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact a {
  margin-right: 10px;
  padding: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  text-align: center;
}

.hero-section {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100%;
  padding-left: 0;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 18px;
  color: #666666;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-image img {
  max-width: 80%; /* Lebih fleksibel */
  height: auto;
  margin-right: 0;
  padding-left: 0;
}

.hero {
  background-color: #48dbfb;
  padding: 130px 5% 10%;
  position: relative;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
