body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 1650px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #ffffff;
  font-size: 20px;
}

header h3 {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #0f2644;
  border-bottom: 1px solid #eeeeee;
}

.logo {
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav li {
  margin-left: 30px;
}

.navbar nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.content {
  color: black;
  margin: 0px;
  background-color: rgb(215, 242, 254);
  padding: 20;
}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Tengah secara horizontal */
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact a {
  margin-right: 10px;
  padding: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

.hero-section {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 300px;
}

.hero-section h1 {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  margin-bottom: 0;
  width: 450px;
}
.hero-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-top: 0cqmax;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  color: #000000;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-image img {
  max-width: 80%; /* Lebih fleksibel */
  height: auto;
  margin-right: 0;
  padding-left: 0;
}

.hero {
  background-color: #00d0ff;
  padding: 120px 5% 10%;
  position: relative;
  overflow: hidden;
}

.about,
.service {
  margin: 0 40px 0 40px;
}
.about h2,
.service h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about {
  margin-top: 50px;
}

.about-DTC {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.about-DTC h4 {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  font-style: normal;
}

.about-D {
  margin-bottom: 20px;
  width: 700px;
  height: 250px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  background-color: aqua;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-T {
  margin-bottom: 20px;
  width: 700px;
  height: 250px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  background-color: aqua;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-C {
  margin-bottom: 20px;
  width: 700px;
  height: 250px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  background-color: aqua;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.vision h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0px;
}

.footer {
  background-color: #113563;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .socials {
  margin-top: 10px;
}

.footer .socials a {
  margin: 0 10px;
}
